.TripSearch__body{
    background-color: rgb(245,246,250);
    min-height: 52em;
  }

  /*
  ##Device = Desktops
  ##Screen = 1200px to higher resolution desktops
*/
@media (min-width: 1200px) {
  .TripSearch__body{
    min-height: 41em;
  }
}


/*
##Device = Laptops, Desktops
##Screen = B/w 992px to 1199px
*/
@media (min-width: 992px) and (max-width: 1199px) {
  .TripSearch__body{
    min-height: 57em;
  }
}


/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) {
  .TripSearch__body{
    min-height: 55em;
  }
}



/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  
}

  
