.form-control{
    border-radius: 0;
}
.react-daterange-picker__range-divider{
    position: absolute;
    left: 85px;
    top: 12px;
}

.react-daterange-picker__wrapper {
    border: none;
}

#dateRange {
    height: 70px;
    display:flex;
    vertical-align: middle;
    padding-top: 15px;
}