.Header__back {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
        ),
        url('../../images/new_york_header.png');
    background-repeat: repeat;
    padding-bottom: 4rem;
  }

.Header__subtitle {
    font-size: 1em;
    color: white;
    opacity: 0.8;
    font-weight: 200;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 1.5rem;
  }

.Header__title {
    font-size: 3em;
    font-weight: normal;
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.Header__options {
    font-size: 0.8em;
    color: white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0 0.8rem;
  }


.Header__search {
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.placeholder{
  text-transform: uppercase;
  color: rgb(136,140,145);
  font-size: 0.7em;
  position: absolute;
  top: 12px;
  z-index: 10;
}

.floating-label-origin {
  left: 15px;
}

.floating-label-destination {
  left: 200px;
}

.floating-label-dates {
  left: 390px;
}

.floating-label-passengers {
  left: 710px;
}

#searchButton{
   background-color: rgb(232,0,16);
   border:none;
   color: rgb(255,255,255);
   padding: 1em;
}
  /*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1200px) {
    .Header__title {
        font-size: 4em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }
    
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 992px) and (max-width: 1199px) {
    .Header__title {
        font-size: 5em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }
    
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 991px) {
    .Header__title {
        font-size: 5em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }
    
}



/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .Header__title {
        font-size: 4em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }
    
}



/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (max-width: 575px) {
    
}
