.Header__back {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.5)
        ),
        url('../../images/new_york_header.png');
    background-repeat: repeat;
    min-height: 600px;
  }

.Header__subtitle {
    font-size: 1em;
    color: white;
    opacity: 0.8;
    font-weight: 200;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 1.5rem;
  }

.Header__title {
    font-size: 3em;
    font-weight: normal;
    color: white;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.Header__options {
    font-size: 0.8em;
    color: white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 0 0.8rem;
  }

.Header__search {
    width: 100%;
    position: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.placeholder{
  text-transform: uppercase;
  color: rgb(136,140,145);
  font-size: 0.7em;
  z-index: 1;
  position: absolute;
}

.floating-label-origin {
  left: 12px;
  top: 10px;
}

.floating-label-destination {
  left: 12px;
  top: 88px;
}

.floating-label-dates {
  left: 12px;
  top: 166px;
}

.floating-label-passengers {
  left: 12px;
  top: 248px;
}

#searchButton{
   height: 70px;
   padding: 1.3em;
   background-color: rgb(232,0,16);
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
   border:none;
   color: rgb(255,255,255);
   display:none;
}

#searchButtonXL{
  background-color: rgb(232,0,16);
  border:none;
  border-radius: 5px;
  color: rgb(255,255,255);
  margin-top: 0.5em;
  padding: 1em;
  text-align: center;

}

  /*
  ##Device = Desktops
  ##Screen = 1200px to higher resolution desktops
*/
@media (min-width: 1200px) {
  .Header__back{
    min-height: 320px;
  }

  .Header__search {
      justify-content: center;
      align-items: stretch;
      flex-direction: row;
    }

   .Header__title {
      font-size: 4em;
      font-weight: normal;
      color: white;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 1.5rem;
    }

    .Header__options {
      font-size: 0.8em;
      color: white;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding: 0 1.3rem;
      }

    .placeholder{
      top: 10px;
    }

    .floating-label-origin {
      left: 1%;
    }
    
    .floating-label-destination {
      left: 24.5%;
    }
    
    .floating-label-dates {
      left: 47.5%;
    }
    
    .floating-label-passengers {
      left: 73%;
    }

    #origin{
      flex-grow: 1.5;
      }
      
    #destination{
      flex-grow: 1.5;
    }

    #datepicker{
      flex-grow: 1.5;
      }
      
    #passengers{
      flex-grow: 1.5;
    }

    #searchButton{
      display:block;
   }

    #searchButtonXL{
     display:none;
    }

}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 992px to 1199px
*/
@media (min-width: 992px) and (max-width: 1199px) {
      .Header__back{
        min-height: 320px;
      }

     .Header__search {
      justify-content: center;
      align-items: stretch;
      flex-direction: row;
    }  

    .Header__title {
        font-size: 5em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }

      .floating-label-origin {
        left: 2%;
      }
      
      .floating-label-destination {
        left: 25%;
      }
      
      .floating-label-dates {
        left: 48%;
      }
      
      .floating-label-passengers {
        left: 73%;
      }

      .placeholder{
        top: 17%;
      }

      #origin{
        flex-grow: 1.5;
      }
  
      #destination{
        flex-grow: 1.5;
      }
  

      #datepicker{
        flex-grow: 1.5;
        }
        
      #passengers{
        flex-grow: 1.5;
        }

      #searchButton{
        display:block;
      }
  
      #searchButtonXL{
        display:none;
      }
    
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) {

    .Header__title {
        font-size: 5em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }

      #origin{
        flex-grow: 1.5;
      }
  
      #destination{
        flex-grow: 1.5;
      }


      #datepicker{
        flex-grow: 1.5;
        }
        
      #passengers{
        flex-grow: 1.5;
        }
    
}



/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .Header__title {
        font-size: 4em;
        font-weight: normal;
        color: white;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }

    .Header__options {
        font-size: 0.8em;
        color: white;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0 1.3rem;
      }
    
}

