.ReactModal__Overlay {
    z-index: 2 !important;
}

.Passengers__Modal{
    background-color:rgb(255,255,255);
    width: 90%;
    position: absolute;
    top: 40%;    
    left: 5%;
    padding: 50px;
}

.Modal__title{
    font-size: 16px;
}

.Class__option:hover {
    font-weight: bold;
}

.icons{
    font-size: 12px;
}

#passengersInput{
    height: 70px;
}

#selectInput{
    border: none;
    position: relative;
    top:20px;
    color: rgb(0,0,0);
}

  /*
  ##Device = Desktops
  ##Screen = 1200px to higher resolution desktops
*/
@media (min-width: 1200px) {
    .Passengers__Modal{
        width: 47%;
        left: 50%;
    }
}


/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 992px to 1199px
*/
@media (min-width: 992px) and (max-width: 1199px) {
    .Passengers__Modal{
        width: 60%;
        left: 30%;
    }
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) {
    .Passengers__Modal{
        width: 80%;
        left:10%;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    
}
