.Result__chart__header__month{
    font-size: 0.75em;    
    text-align: center;
    color: rgb(97, 97, 97);
}

.Result__chart__header__price{
    font-size: 0.7em;
    color: rgb(182, 182, 182);
}

#Result {
    position:relative;
    background-color: rgb(245,246,250);
    min-height: 12em;
}

#Result__chart {
    position: relative;
    background-color: rgb(255,255,255);
    width: 80%;
    height: 11em;
    margin: 30px auto;
    box-shadow: 3px 4px 4px 0px rgba(76,76,76,0.5);
    padding-top: 30px;
}

#Result__chart__header{
    border-bottom: 1px solid rgb(230, 230, 230);
    width: 100%;
    display:flex;
    justify-content: space-between;
    position: absolute;
    top: 2%;
    left: 0%;
    height: 2em;
}

#active__month{
    color: rgb(7,155,217);
    
}

#active__price{
    color: rgb(7,155,217);
    font-weight: bold;
    border-bottom: 2px solid rgb(10, 176, 247);
    padding-left: 10px;
    padding-right: 10px;
}

#Result__chart__footer{
    font-size: 0.50em;
    color: rgb(141, 141, 141);
    position: absolute;
    top:80%;
    left:2%;
    width:95%;
    padding-bottom: 2%;
}

    /*
  ##Device = Desktops
  ##Screen = 1200px to higher resolution desktops
*/
@media (min-width: 1200px) {
    .Result__chart__header__price{
        font-size: 0.8em;
    }
 
    #Result {
        height: 25em;
    }

    #Result__chart {
        height: 20em;
    }

    #Result__chart__footer{
        font-size: 0.75em;
        top: 85%;
        padding:0%;
    }

}


/*
##Device = Laptops, Desktops
##Screen = B/w 992px to 1199px
*/
@media (min-width: 992px) and (max-width: 1199px) {
    .Result__chart__header__price{
        font-size: 0.8em;
    }

    #Result__chart {
        height: 18em;
    }

    #Result__chart__footer{
        font-size: 0.70em;
    }

    
}


/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) {
    .Result__chart__header__price{
        font-size: 0.8em;
    }

    #Result__chart {
        height: 41vh;
    }

}



/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 991px
*/
@media (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    .Result__chart__header__price{
        font-size: 0.8em;
    }
    
    #Result__chart {
        height: 41vh;
    }

}


  